#This Apache config file was created by Duplicator Installer on 2019-01-30 07:43:39.
#The original can be found in archived file with the name htaccess.orig

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /ahv/v1/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /ahv/v1/index.php [L]
</IfModule>
# END WordPress